<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383005973421-dmp1nmi3j7omb1vp5rjhsne4d3ppd41m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383005973421-dmp1nmi3j7omb1vp5rjhsne4d3ppd41m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383005973421-ajcffr14ci61kdekvd0haujgs436t0t1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA--MKAbMDusY05vvoqomPG9oip2h3gpac</string>
	<key>GCM_SENDER_ID</key>
	<string>383005973421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.edutalk.mentorlearning</string>
	<key>PROJECT_ID</key>
	<string>edutalk-71810</string>
	<key>STORAGE_BUCKET</key>
	<string>edutalk-71810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383005973421:ios:77701229627a05545bdf24</string>
	<key>DATABASE_URL</key>
	<string>https://edutalk-71810.firebaseio.com</string>
</dict>
</plist>